<form
  [formGroup]="bookingForm"
  (ngSubmit)="createBooking()"
  class="col-md-4 mx-auto card card shadow-lg card-body p-4 border border-dark rounded"
>
  <app-time-picker
    [bookingForm]="bookingForm"
    (redirectDesks)="deskData = $event"
    (click)="showRoomDropdown()"
  ></app-time-picker
  ><br />

  <app-room-dropdown
    *ngIf="roomDropdown"
    (change)="toggleShow()"
    (redirectRoom)="roomData = $event"
  ></app-room-dropdown
  ><br />

  <ng-container *ngIf="isShown">
    <app-desk-dropdown
      [bookingForm]="bookingForm"
      [desks]="deskData"
      [roomOpt]="roomData"
    ></app-desk-dropdown>
  </ng-container>
  <br />

  <button
    type="submit"
    class="btn btn-sm btn-success"
    [disabled]="bookingForm.invalid"
  >
    Confirm booking
  </button>

  <button
    type="button"
    class="btn btn-sm btn-outline-dark m-2"
    [routerLink]="['/overview']"
  >
    Cancel
  </button>
</form>
