<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a href="/" class="navbar-brand">
    <img
      src="../../../assets/Team 4.png"
      width="60px"
      length="60px"
      alt="logo"
    />
  </a>
  <h1>Office Desk Booking</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="/overview" routerLinkActive="active"
          >Overview</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active"
          >Log out</a
        >
      </li>
    </ul>
  </div>
</nav>
