<div class="login-form-flex">
  <div class="container">
    <div class="row justify-content-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4 text-center text-uppercase text-center">User login</h1>

            <form
              *ngIf="loginForm"
              [formGroup]="loginForm"
              (ngSubmit) = "login()"
            >
              <div class="mb-3">
                <label for="email" class="mb-2 text-muted">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email" 
                  placeholder="Enter email"
                />

                <div
                *ngIf="
                (loginForm.controls['email']?.dirty ||
                loginForm.controls['email']?.touched) &&
                loginForm.controls['email'].errors?.['required']
              "
                  class="alert alert-danger"
                >
                  Email is required.
                </div>

                <div
                class="alert alert-warning"
                *ngIf="
                loginForm.controls['email']?.errors &&
                loginForm.controls['email']?.dirty &&
                loginForm.controls['email'].errors?.['email']
              "
              >
                Email is invalid.
              </div>
              </div>

              <div class="mb-3">
                <div class="mb-2 w-100">
                  <label for="password" class="text-muted">Password</label>
                  <a href="" class="float-end"> Forgot Password? </a>
                </div>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  formControlName="password" 
                  placeholder="Enter password"
                />

                <div
                *ngIf="
                (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched) &&
                loginForm.get('password')?.errors?.['required']
              "
                  class="alert alert-danger"
                >
                  Password is required.
                </div>
              </div>

              <div class="d-flex align-items-center">
                <div class="form-check">
                  <input
                    type="checkbox"
                    name="remember"
                    id="remember"
                    class="form-check-input"
                  />
                  <label for="remember" class="form-check-label"
                    >Remember Me</label
                  >
                </div>

                <button
                  type="submit"
                  [disabled]="loginForm.invalid"
                  class="btn btn-success ms-auto"
                >
                  Login
                </button>
              </div>
            </form>
          </div>

          <div class="card-footer py-3 border-0">
            <div class="text-center">
              Don't have an account?
              <a
                routerLink="/auth/registration"
                routerLinkActive="active"
                class="text-dark"
                >Sign up</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div
class="alert alert-danger"
role="alert"
*ngIf="isLoginFailed"
>
Login failed: Email or password is incorrect.
</div>


