.login-form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

h1 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}