<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card card shadow-lg" style="border-radius: 15px">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-3">User registration</h2>

            <form
              #userPost="ngForm"
              class="reg__form"
              *ngIf="regForm"
              [formGroup]="regForm"
              (submit)="onSubmit()"
            >
              <div class="mb-4">
                <label class="form-label" for="firstName">First name</label>
                <input
                  type="text"
                  id="firstName"
                  formControlName="firstName"
                  class="form-control form-control-lg"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    regForm.controls['firstName'].errors?.['required'] &&
                    (regForm.controls['firstName']?.dirty ||
                      regForm.controls['firstName']?.touched)
                  "
                >
                  Field is required.
                </div>
              </div>

              <div class="mb-4">
                <label class="form-label" for="lastName">Last name</label>
                <input
                  type="text"
                  id="lastName"
                  formControlName="lastName"
                  class="form-control form-control-lg"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    regForm.controls['lastName'].errors?.['required'] &&
                    (regForm.controls['lastName']?.dirty ||
                      regForm.controls['lastName']?.touched)
                  "
                >
                  Field is required.
                </div>
              </div>

              <div class="mb-4">
                <label class="form-label" for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  class="form-control form-control-lg"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    (regForm.controls['email']?.dirty ||
                      regForm.controls['email']?.touched) &&
                   regForm.controls['email'].errors?.['required']
                  "
                >
                  Field is required.
                </div>
                <div
                  class="alert alert-warning"
                  *ngIf="
                    regForm.controls['email']?.errors &&
                    regForm.controls['email']?.dirty &&
                    regForm.controls['email'].errors?.['email']
                  "
                >
                  Email should contain "@" symbol.
                </div>
              </div>

              <div class="mb-4">
                <label class="form-label" for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  formControlName="password"
                  class="form-control form-control-lg"
                  required
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    regPassword?.errors?.['required'] &&
                    (regForm.controls['password']?.dirty ||
                      regForm.controls['password']?.touched)
                  "
                >
                  Field is required.
                </div>
                <div
                  class="alert alert-danger"
                  *ngIf="
                  regPassword?.errors?.['pattern']"
                >
                  Password should contain at least 1 digit and 1 uppercase
                  letter.
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <button
                  type="submit"
                  class="btn btn-success btn-block btn-lgtext-body"
                  [disabled]="regForm.invalid"
                >
                  Register
                </button>
              </div>

              <p class="text-center text-muted mt-5 mb-0">
                Already have an account?
                <a
                  routerLink="/auth/login"
                  routerLinkActive="active"
                  class="fw-bold text-body"
                  >Login here</a
                >
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
