<ngb-carousel>
  <ng-template ngbSlide>
    <div class="wrapper">
      <img
        src="../../../assets/deskroomLayout.png"
        class="rounded mx-auto d-block"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h3 class="text-dark">Room 1</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="wrapper">
      <img
        src="../../../assets/deskroomLayout.png"
        class="rounded mx-auto d-block"
        alt="Random second slide"
      />
    </div>
    <div class="carousel-caption">
      <h3 class="text-dark">Room 2</h3>
    </div>
  </ng-template>
</ngb-carousel>
