<!-- <div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        Choose a desk
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Desk 1</button>
        <button ngbDropdownItem>Desk 2</button>
        <button ngbDropdownItem>Desk 3</button>
        <button ngbDropdownItem>Desk 4</button>
        <button ngbDropdownItem>Desk 5</button>
        <button ngbDropdownItem>Desk 6</button>
        <button ngbDropdownItem>Desk 7</button>
        <button ngbDropdownItem>Desk 8</button>
        <button ngbDropdownItem>Desk 9</button>
        <button ngbDropdownItem>Desk 10</button>
        <button ngbDropdownItem>Desk 11</button>
        <button ngbDropdownItem>Desk 12</button>
        <button ngbDropdownItem>Desk 13</button>
        <button ngbDropdownItem>Desk 14</button>
        <button ngbDropdownItem>Desk 15</button>
        <button ngbDropdownItem>Desk 16</button>
        <button ngbDropdownItem>Desk 17</button>
        <button ngbDropdownItem>Desk 18</button>
        <button ngbDropdownItem>Desk 19</button>
        <button ngbDropdownItem>Desk 20</button>
      </div>
    </div>
  </div>
</div> -->
