<div [formGroup]="dateTimeForm">
  <label for="meeting-time">Select date and time for desk reservation:</label
  ><br /><br />
  <div>
    <input
      type="date"
      id="meeting-time"
      name="meeting-time"
      formControlName="startDate"
      min="2022-05-02"
    />
    <input
      type="time"
      id="meeting-time"
      name="meeting-time"
      formControlName="startTime"
      step="3600"
    />
    <input
      type="time"
      id="meeting-time"
      name="meeting-time"
      formControlName="endTime"
      step="3600"
    />
  </div>
  <br />
  <button
    type="button"
    class="btn btn-sm btn-success"
    [disabled]="dateTimeForm.invalid"
    (click)="selectReservationDate()"
    (click)="showMessage()"
  >
    Confirm date
  </button>
  <br />
  <br />
  <ng-container *ngIf="isShown">
    <p class="alert alert-success" >Your date has been confirmed!</p>
  </ng-container>
</div>
