<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card card shadow-lg" style="border-radius: 15px">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-3">User registration</h2>

            <form
              #userPost="ngForm"
              class="reg__form"
              *ngIf="regForm"
              [formGroup]="regForm"
              (ngSubmit)="onSubmit({ data: userPost.value })"
            >
              <div class="mb-4">
                <label class="form-label" for="firstName">First name</label>
                <input
                  type="text"
                  id="firstName"
                  formControlName="firstName"
                  class="form-control form-control-lg"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    regForm.get('firstName')?.errors?.['required'] &&
                    (regForm.get('firstName')?.dirty ||
                      regForm.get('firstName')?.touched)"
                >
                  Field is required.
                </div>
              </div>

              <div class="mb-4">
                <label class="form-label" for="lastName">Last name</label>
                <input
                  type="text"
                  id="lastName"
                  formControlName="lastName"
                  class="form-control form-control-lg"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    regForm.get('lastName')?.errors?.['required'] &&
                    (regForm.get('lastName')?.dirty ||
                      regForm.get('lastName')?.touched)
                  "
                >
                  Field is required.
                </div>
              </div>

              <div class="mb-4">
                <label class="form-label" for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  class="form-control form-control-lg"
                  ngModel
                  email
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    (regForm.get('email')?.dirty ||
                      regForm.get('email')?.touched) &&
                    regForm.get('email')?.errors?.['required']
                  "
                >
                  Field is required.
                </div>
                <div
                  class="alert alert-warning"
                  *ngIf="
                    regForm.get('email')?.errors &&
                    regForm.get('email')?.dirty &&
                    regForm.get('email')?.invalid
                  "
                >
                  Email is invalid.
                </div>
              </div>

              <div class="mb-4">
                <label class="form-label" for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  formControlName="password"
                  class="form-control form-control-lg"
                  required
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    regForm.get('password')?.errors?.['required'] &&
                    (regForm.get('password')?.dirty ||
                      regForm.get('password')?.touched)
                  "
                >
                  Field is required.
                </div>
                <div
                  class="alert alert-danger"
                  *ngIf="
                  regForm.get('password')?.errors?.['pattern']"
                >
                  Pass is wrong.
                </div>
              </div>

              <div class="form-check d-flex justify-content-center mb-5">
                <input
                  class="form-check-input me-2"
                  type="checkbox"
                  value=""
                  id="checkbox"
                />
                <label class="form-check-label" for="terms">
                  I agree to all statements in
                  <a href="#!" class="text-body"><u>Terms of service</u></a>
                </label>
              </div>

              <div class="d-flex justify-content-center">
                <button
                  type="submit"
                  class="btn btn-success btn-block btn-lgtext-body"
                >
                  Register
                </button>
              </div>

              <p class="text-center text-muted mt-5 mb-0">
                Already have an account?
                <a
                  routerLink="/login"
                  routerLinkActive="active"
                  class="fw-bold text-body"
                  >Login here</a
                >
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
